h1{
    text-align: center

}

body {
    font-family: Arial, sans-serif;
    background-color: #ae95e4;
    margin: 0;
    padding: 0;
    height: auto;
    position: fixed;
}

header {
    background-color: #9ad80a;
    border: 10px black;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    padding: 1em;

}

nav {
    background: url(./imagenes/lenguaje-de-programacion-scaled.jpeg);
    font-family: Arial, sans-serif;
    background-color: #ae95e4;
    margin: 0;
    padding: 0;
    background-size: 200%;
    height: 200%;
}

.boton {
    border: 4px solid #0a5800; 
    padding: 10px; 
    margin: 35px;
    background-color: #000000; 
    color: #ffffff; 
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px;
    }

.bloque {
    border: 10px solid springgreen;
    width: 340px;
    height: 120px;
    margin: 125px;
    margin-top: 115px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-color: lightgreen;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
    }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 16px 32px;
    z-index: 999;
    position: fixed;
    
}

li {
    background-color: #ae95e4;
}

.bloqueBD {
    border: 10px solid rgb(0, 95, 133);
    width: 640px;
    height: 120px;
    margin: 125px;
    margin-top: 115px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/fondo\ base\ de\ datos.jpg);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;

}

.bloqueLM {
    border: 10px solid rgb(255, 0, 0);
    width: 640px;
    height: 120px;
    margin: 125px;
    margin-top: 115px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/lenguaje-de-programacion-scaled.jpeg);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;  
}
