
h1{
    text-align: center

}

body {
    font-family: Arial, sans-serif;
    background-color: #ae95e4;
    margin: 0;
    padding: 0;
    height: auto;
    
}

header {
    background-color: #0a86d8;
    border: 10px black;
    color: #ffffff;
    text-align: center;
    padding: 1em;

}

nav {
    background: url(./imagenes/lenguaje-de-programacion-scaled.jpeg);
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-bottom: 100px;
    padding: 0;
    background-size: 200%;
    height: 200%;
}

.boton {
    border: 4px solid #000000; 
    padding: 10px; 
    margin: 35px;
    background-color: #ffffff; 
    color: #000000; 
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    }

.bloque {
    border: 10px solid springgreen;
    width: 340px;
    height: 120px;
    margin: 125px;
    margin-top: 115px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-color: lightgreen;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
    }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 16px 32px;
    z-index: 999;
    position: fixed;
    
}

.bloqueRA1 {
    border: 10px solid rgb(0, 95, 133);
    width: 40%;
    height: 300px;
    margin: 125px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/RA\ 1.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    align-items: center;

}

.bloqueRA1LM {
    border: 10px solid rgb(0, 95, 133);
    width: 40%;
    height: 300px;
    margin: 125px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/RA1LM.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    align-items: center;

}

.bloqueRA2 {
    border: 10px solid rgb(255, 0, 0);
    width: 40%;
    height: 300px;
    margin: 125px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/RA\ 2.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;  
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    align-items: center;
}

.bloqueRA2LM {
    border: 10px solid rgb(255, 0, 0);
    width: 40%;
    height: 300px;
    margin: 125px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/RA2LM.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;  
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    align-items: center;
}

.bloqueAvast {
    border: 10px solid rgb(255, 153, 0);
    width: 33%;
    height: 200px;
    margin: 120px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/avast.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;  
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.bloqueVirus {
    border: 10px solid rgb(255, 0, 0);
    width: 33%;
    height: 200px;
    margin: 125px;
    margin-top: 50px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    background-image: url(../imagenes/mcafee.png);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;  
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

.foto {
    width: 500px;
    height: 300px;
    margin: 50px;
}

.descargar{
    border: 4px solid #0026ff; 
    padding: 10px; 
    margin: 35px;
    background-color: #2a86ff; 
    color: #ffffff; 
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif;
    border-radius: 100px;
}

.pam {
    margin: 25px;
    width: 100px;
    height: 100px;
}

.bloquerecuva {
    border: 10px solid rgb(157, 228, 65);
    width: 50%;
    height: 480px;
    margin-top: 50px;
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/recuva.jpeg);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #000000;  
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

.boton5 {
    border: 4px solid #000000; 
    width: 33%;
    height: 100px;
    padding: 10px; 
    margin: 135px;
    background-color: #ffffff; 
    color: #000000; 
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif;
    text-align: center;
     
}

.bloqueBD {
    border: 10px solid rgb(0, 95, 133);
    width: 640px;
    height: 120px;
    margin: 125px;
    margin-top: 115px;
    margin-bottom: 115px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../imagenes/fondo\ base\ de\ datos.jpg);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
    text-align: center;
    font-style: italic;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
    }

    .bloqueLM {
        border: 10px solid rgb(255, 0, 0);
        width: 640px;
        height: 120px;
        margin: 125px;
        margin-top: 115px;
        margin-bottom: 115px;
        display: inline-block;
        vertical-align: top;
        background-image: url(../imagenes/lenguaje-de-programacion-scaled.jpeg);
        box-shadow: 10px 10px 5px rgb(0, 0, 0);
        transition: all .2s ease-in-out;
        text-align: center;
        font-style: italic;
        line-height: normal;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 2em;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;
        color: #ffffff;  
    }